.callback {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  padding: 25px;
  background-color: $lightBlueColor;
  position: fixed;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 10;
  overflow-x: hidden;
}

.callback button {
  margin-left: auto;
  margin-bottom: 26px;
}

.callback h2 {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: $darkColor;
  margin: 0 auto;
  margin-bottom: 25px;
}

.callback p {
  text-align: center;
  box-sizing: border-box;
  width: 293px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
  margin-bottom: 35px;
}

@media (max-width: $tabletResolution) {
  .callback {
    width: 678px;
    padding: 30px;
  }
}

@media (max-width: $mobileResolution) {
  .callback {
    width: 290px;
    padding: 15px;
  }

  .callback h2 {
    width: 200px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .callback p {
    width: 240px;
    text-align: center;
  }

  .callback .icon-button img {
    width: 12px;
    height: 12px;
  }
}
