.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"]:checked + label,
.checkbox input[type="checkbox"]:not(:checked) + label, {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-top: 10px;
  line-height: 16px;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="checkbox"]:not(:checked) + label::before, {
  content: "";
  position: absolute;
  left: 2px;
  top: 11px;
  width: 14px;
  height: 14px;
  border: 1px solid $blueColor;
  border-radius: 2px;
  background-color: $blueColor;
}

.checkbox input[type="checkbox"]:not(:checked) + label::before {
  background-color: $lightBlueColor;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="checkbox"]:not(:checked) + label::after {
  left: 5px;
  top: 11px;
  width: 6px;
  height: 4px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(-45deg);
}

.checkbox input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
