.footer {
  @include reset;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: $maxWidth;
  background-color: $lightBlueColor;
  margin: 0 auto;
  padding: 0 98px;
  padding-top: 49px;
  color: $darkColor;
}

.footer__nav,
.footer__list,
.footer__logo-wrapper,
.footer__contacts-wrapper {
  @include reset
}

.footer__logo-wrapper p {
  width: 252px;
  height: 43px;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #707c87;
}

.footer__list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.footer__list-item {
  margin-bottom: 20px;
}

.footer__contacts-wrapper a {
  @include reset;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  color: $darkColor;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__contacts-wrapper p {
  @include reset;
  box-sizing: border-box;
  width: 167px;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #707c87;
}

.footer__contacts-wrapper--smartphone a::before {
  content: url("");
  display: inline-block;
  width: 10px;
  height: 16px;
  position: absolute;
  left: -19px;
  background-image: url("../img/icon-cellphone-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__contacts-wrapper--phone a::before {
  content: url("");
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -25px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
