.footer {
  @include reset;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: $maxWidth;
  background-color: $lightBlueColor;
  margin: 0 auto;
  padding: 0 98px;
  padding-top: 49px;
  color: $darkColor;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 50%;
  padding-top: 9px;
}

.footer__nav,
.footer__list,
.footer__logo-wrapper,
.footer__contacts-wrapper {
  @include reset;
}

.footer__logo-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: flex-start;
  align-content: flex-start;
}

.footer__logo-wrapper img {
  margin-right: 61%;
}

.footer__logo-wrapper p {
  @include reset;
  width: 252px;
  height: 43px;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #707c87;
  position: absolute;
  top: 43px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
}

.footer__list-item {
  margin-bottom: 10px;
  width: 145px;
}

.footer__contacts-wrapper {
  margin-right: 19.2%;
}

.footer__contacts-wrapper:last-of-type {
  margin-right: 5.2%;
}

.footer__contacts-wrapper a {
  @include reset;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  color: $darkColor;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__contacts-wrapper p {
  @include reset;
  box-sizing: border-box;
  width: 167px;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #707c87;
}

.footer__contacts-wrapper--smartphone a::before {
  content: url("");
  display: inline-block;
  width: 10px;
  height: 16px;
  position: absolute;
  left: -28px;
  top: 2px;
  background-image: url("../img/icon-cellphone-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__contacts-wrapper--phone a::before {
  content: url("");
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -32px;
  top: 2px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__socials {
  @include reset;

  position: relative;
  left: 2px;
}

.footer__socials-item {
  padding: 0 4.5px;
  margin-right: 5px;
}

.footer__socials-item:last-of-type {
  margin-right: 0;
}

.footer__socials-item-link {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tabletResolution) {
  .footer {
    padding: 51px 45px;
    padding-bottom: 60px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__logo-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__logo-wrapper img {
    order: 1;
  }

  .footer__nav {
    order: 2;
  }

  .footer__logo-wrapper p {
    position: relative;
    top: 0;
    order: 3;
  }

  .footer__contacts-wrapper {
    margin-bottom: 32px;
    padding-left: 30px;
  }

  .footer__contacts-wrapper a {
    width: auto;
  }
}

@media (max-width: $mobileResolution) {
  .footer {
    padding: 0 15px;
    padding-top: 39px;
    padding-bottom: 45px;
    flex-direction: column;
  }

  .footer__logo-wrapper,
  .footer__nav {
    margin-bottom: 30px;
  }

  .footer__logo-wrapper img {
    width: 113px;
    height: 20px;
  }

  .footer__logo-wrapper p {
    display: none;
    position: relative;
  }

  .footer__nav {
    margin-top: 0;
  }

  .footer__list-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .footer__contacts-wrapper {
    padding-left: 20px;
  }
}
