.form {
  @include reset;
  color: $darkColor;
  padding-top: 98px;
  margin-bottom: 91px;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__wrapper-second {
  display: flex;
  flex-direction: column;
  width: (600 / 1172) * 100%;
}

.form input[type="text"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #1f1e25;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

.form input[type="range"] {
  @include reset;
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  background-color: white;
  margin-bottom: 30px;
  position: relative;
}

.form__initial-payment-wrapper input[type="range"]::before {
  content: attr(data-min) "";
  display: inline-block;
  position: absolute;
  top: 26px;
  width: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #707c87;
}

.form__year-wrapper input[type="range"]::before {
  content: attr(data-min) "";
  display: inline-block;
  position: absolute;
  top: 26px;
  width: 42px;
  font-size: 14px;
  line-height: 20px;
  color: #707c87;
}

.form__year-wrapper input[type="range"]::after {
  content: attr(data-max) "";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -8px;
  width: 50px;
  font-size: 14px;
  line-height: 20px;
  color: #707c87;
}

.form__minus-button,
.form__plus-button {
  position: absolute;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  width: 16px;
  height: 16px;
  z-index: 1;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.form__plus-button {
  background-image: url("../img/icon-plus.svg");
  margin-top: 22px;
  margin-left: -40px;
}

.form__minus-button {
  background-image: url("../img/icon-minus.svg");
  margin-top: 22px;
  margin-left: 20px;
}

.form__first-step,
.form__second-step,
.form__offer,
.form__third-step {
  @include reset;
  display: flex;
  flex-direction: column;
}

.form h2 {
  @include reset;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 57px;
  margin-bottom: 47px;
}

.form__first-step h3,
.form__second-step h3,
.form__offer h3,
.form__third-step h3 {
  @include reset;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 22px;
}

.form__second-step h3 {
  margin-bottom: 15px;
}

.form__first-step select {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid $darkColor;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  padding-left: 20px;
  margin-bottom: 33px;
}

.form__first-step option {
  box-sizing: border-box;
  width: 600px;
  min-height: 60px;
  border-radius: 4px;
  background-color: white;
  padding-left: 24px;
  margin-top: 30px;
}

.form__price-wrapper {
  margin-bottom: 20px;
}

.form__price-wrapper label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}

.form__price-wrapper span {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #707c87;
}

.form__price-wrapper-second {
  margin-top: 8px;
  margin-bottom: 5px;
}

.form__initial-payment-wrapper,
.form__year-wrapper {
  display: flex;
  flex-direction: column;
}

.form__initial-payment-wrapper label,
.form__year-wrapper label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
  margin-bottom: 9px;
}

.form__year-wrapper label {
  margin-top: 3px;
  margin-bottom: 11px;
}

.form__initial-payment-wrapper input[type="text"] {
  margin-bottom: 6px;
}

.form__year-wrapper input[type="text"] {
  margin-bottom: 2px;
}

.form__checkbox-wrapper {
  margin-bottom: 10px;
}

.form__checkbox-wrapper label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.form__checkbox-wrapper label,
.form__checkbox-wrapper input[type="checkbox"] {
  cursor: pointer;
}

.form__checkbox-wrapper input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: $blueColor;
}

.form__offer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: (500 / 1172) * 100%;
  padding: 60px;
  padding-left: 58px;
  padding-right: 62px;
  border-radius: 4px;
  background-color: $lightBlueColor;
}

.form__offer h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}

.form__offer-wrapper,
.form__offer-wrapper h4,
.form__offer-wrapper span,
.form__offer-wrapper-outer {
  @include reset;
}

.form__offer-wrapper-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form__offer-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 177px;
  margin-bottom: 25px;
}

.form__offer-wrapper:nth-of-type(2n) {
  padding-left: 23px;
}

.form__offer-wrapper h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 5px;
}

.form__offer-wrapper span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 170px;
}

.form__offer .button {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

.form__third-step {
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
  width: 770px;
  padding: 70px;
  background-color: $lightBlueColor;
}

.form__third-step h3 {
  @include reset;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 24px;
}

.form__third-step input[type="text"] {
  width: 100%;
  text-align: left;
  padding-left: 24px;
  background-color: $lightBlueColor;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #707c87;
  margin-bottom: 30px;
  margin-top: 18px;
  border: 1px solid #0a1e32;
}

.form__list {
  @include reset;
  display: flex;
  flex-direction: column;
}

.form__list-item {
  @include reset;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 10px;
  margin-bottom: 13px;
}

.form__list-item h4,
.form__list-item span {
  @include reset;
}

.form__list-item h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}

.form__list-item span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.form__third-step-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.form__third-step-wrapper input[type="text"] {
  margin-top: 18px;
}

.form__third-step-wrapper input[type="tel"],
.form__third-step-wrapper input[type="email"] {
  width: (300 / 630) * 100%;
  height: 60px;
  padding-left: 24px;
  background-color: $lightBlueColor;
  border: 1px solid #0a1e32;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #707c87;
}

.form__third-step .button {
  margin: 0 auto;
}

@media (max-width: $tabletResolution) {
  .form {
    padding: 80px 45px;
    margin-bottom: 35px;
  }

  .form h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 45px;
  }

  .form__wrapper-second,
  .form__offer {
    width: 100%;
  }

  .form__wrapper-second {
    margin-bottom: 45px;
  }

  .form__offer {
    padding: 60px;
    margin-bottom: 60px;
  }

  .form__first-step h3,
  .form__second-step h3,
  .form__third-step h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .form__third-step {
    margin-top: 0;
    background-color: white;
    padding: 0;
  }

  .form__third-step h3 {
    margin-bottom: 53px;
  }

  .form__offer-wrapper {
    margin-right: 5%;
  }

  .form__offer-wrapper:nth-of-type(2n) {
    margin-right: 30%;
  }

  .form__third-step input[type="text"],
  .form__third-step-wrapper input[type="tel"],
  .form__third-step-wrapper input[type="email"] {
    background-color: white;
  }
}

@media (max-width: $mobileResolution) {
  .form {
    padding: 60px 15px;
    margin-bottom: 0;
  }

  .form h2 {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 35px;
  }

  .form__first-step h3,
  .form__second-step h3,
  .form__third-step h3 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .form__first-step select {
    margin-bottom: 30px;
  }

  .form__offer {
    padding: 40px 15px;
  }

  .form__offer h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 35px;
  }

  .form__offer-wrapper {
    margin-bottom: 25px;
  }

  .form__offer-wrapper h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }

  .form__offer-wrapper span {
    font-size: 16px;
    line-height: 22px;
  }

  .form__offer-wrapper-outer {
    margin-bottom: 10px;
  }

  .form__list {
    margin-bottom: 30px;
  }

  .form__list-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }

  .form__list-item h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }

  .form__list-item span {
    font-size: 16px;
    line-height: 22px;
  }

  .form__third-step-wrapper {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .form__third-step input[type="text"],
  .form__third-step-wrapper input[type="tel"],
  .form__third-step-wrapper input[type="email"] {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    padding-left: 15px;
  }
}
