.header,
.header__list,
.header__login {
  @include reset;
  display: flex;
  align-items: center;
}

.header {
  padding: 29px 61px;
  background-color: $lightBlueColor;
  box-sizing: border-box;
  margin: 0 auto;
}

.header .icon-button {
  display: none;
}

.header__logo {
  margin-right: 4.5%;
  position: relative;
  bottom: 3px;
}

.header__nav {
  display: flex;
  flex-grow: 1;
  min-width: auto;
}

.header__list {
  flex-wrap: nowrap;
}

.header__list-item {
  display: flex;
  flex-shrink: 0;
  margin-right: 25px;
}

.header__list-item-link,
.header__login {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header__login {
  flex-shrink: 0;
  text-decoration: none;
  cursor: pointer;
  color: $darkColor;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__login-link {
  margin-left: 10px;
  margin-right: 37px;
}

@media (max-width: $tabletResolution) {
  .header {
    padding: 20px 45px;
  }

  .header__logo {
    margin-right: 9.7%;
    bottom: -2px;
  }

  .header__logo img {
    width: 133px;
    height: 24px;
  }

  .header__login span {
    display: none;
  }

  .header__list-item {
    margin-right: 21px;
  }

  .header__list-item-link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: $mobileResolution) {
  .header {
    padding: 0 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    justify-content: flex-start;
  }

  .header .icon-button {
    display: inline-block;
    margin-left: -5px;
    margin-top: -2px;
  }

  .header__logo {
    position: relative;
    top: -4px;
  }

  .header__logo img {
    width: 117px;
    height: 22px;
    margin-left: 7px;
  }

  .header__nav {
    display: none;
  }

  .header__login {
    margin-left: auto;
  }

  .header__login img {
    width: 14px;
    height: 16px;
  }
}
