.non-less {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: $lightBlueColor;
  box-sizing: border-box;
  width: 500px;
  padding: 60px 58px;
  margin-left: auto;
}

.non-less h2,
.non-less p {
  @include reset;
}

.non-less h2 {
  box-sizing: border-box;
  width: 350px;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: $darkColor;
  margin-bottom: 35px;
}

.non-less p {
  box-sizing: border-box;
  width: 253px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}

@media (max-width: $tabletResolution) {
  .non-less {
    width: 678px;
    padding: 60px;
  }
}

@media (max-width: $mobileResolution) {
  .non-less {
    width: 290px;
    padding: 40px 15px;
  }

  .non-less h2 {
    width: 210px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
  }
}
