.services,
.services__list {
  @include reset;
}

.services {
  padding-top: 60px;
  overflow-x: hidden;
  max-width: 1172px;
  margin: 0 auto;
}

.services__list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1170px;
  margin: 0 auto;
}

.services__list-item {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 292.5px;
  min-height: 93px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  z-index: 1;
}

.services__list-item--active {
  background-color: $lightBlueColor;
  z-index: -1;
}

.services__list-item-link {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 2;

  &:hover {
    cursor: pointer;
    opacity: 1;
    background-color: darken($lightBlueColor, 5);
  }

  &:active {
    opacity: 0.2;
  }
}

.services__list-item-link--savings::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url("../img/icon-vault.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.services__list-item-link--credits::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 30px;
  background-image: url("../img/icon-cards.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.services__list-item-link--insurance::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 34px;
  background-image: url("../img/icon-shield.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.services__list-item-link--online::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 34px;
  background-image: url("../img/icon-cellphone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 3px;
}

.services__second-list {
  @include reset;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
}

.services__second-list-item {
  box-sizing: border-box;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  background-color: $lightBlueColor;
  padding: 60px 70px;
  padding-top: 54px;
}

.services__second-list-item--car,
.services__second-list-item--lock,
.services__second-list-item--phone {
  padding-bottom: 67px;
}

.services__second-list-item h3 {
  @include reset;
  width: 406px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}

.services__second-list-item p {
  width: 338px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.services__second-list-item p a {
  color: $darkColor;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: $blueColor;
  }

  &:active {
    opacity: 0.2;
  }
}

.services__image-wrapper {
  width: 440px;
  overflow: hidden;
  margin-right: 6.2%;
  position: relative;
  top: 5px;
}

.services__image-wrapper img {
  display: block;
  width: 100%;
}

.services__second-list-item--car h3 {
  width: 325px;
}

.services__second-list-item--car p {
  @include reset;

  margin-top: 27px;
}

.services__second-list-item--lock h3 {
  width: 350px;
}

.services__second-list-item--lock img {
  position: relative;
  top: -7px;
}

.services__second-list-item--phone h3 {
  width: 425px;
}

.services__second-list-item--phone img {
  position: relative;
  top: -5px;
}

.services__second-list-item--phone .services__sublist-item:first-of-type {
  width: 225px;
}

.services__second-list-item--phone .services__sublist-item:last-of-type {
  width: 340px;
}



.services__sublist {
  @include reset;
  margin-top: 27px;
  margin-left: 21px;
  display: flex;
  flex-direction: column;
}

.services__sublist-item {
  position: relative;
  margin-bottom: 15px;
  width: 371px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.services__sublist-item:last-of-type {
  margin-bottom: 0;
}

.services__sublist-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  width: 12px;
  height: 12px;
  left: -20px;
  top: 5px;
  background-image: url("../img/icon-check.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;
}

.services__sublist-button {
  width: 198px;
  min-height: 51px;
  margin-top: 35px;
}

.services__pagination {
  display: flex;
}

@media (max-width: $tabletResolution) {
  .services {
    padding-top: 0;
    position: relative;
  }

  .services__list {
    display: none;
  }

  .services__second-list-item {
    box-sizing: border-box;
    min-height: 380px;
    position: relative;
    padding: 60px 45px;
    z-index: -2;
  }

  .services__image-wrapper {
    width: 289px;
    height: 260px;
  }

  .services__second-list-item img {
    position: relative;
    right: 100px;
    width: auto;
    height: 260px;
  }

  .services__second-list-item-wrapper h3 {
    width: 310px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 35px;
  }

  .services__sublist-item {
    font-size: 16px;
    line-height: 21px;
  }

  .services__sublist-item::before {
    width: 11px;
    height: 8px;
    background-size: 11px 8px;
  }

  .services .services__sublist-button {
    width: 198px;
    margin-top: 30px;
  }

  .services__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    right: 50%;
  }

  .services__pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 2px 4px;
    border-radius: 4px;
    background-color: $blueColor;

    &:hover {
      cursor: pointer;
    }
  }

  .services__pagination .swiper-pagination-bullet-active {
    background-color: #e0e0e0;
  }
}

@media (max-width: $mobileResolution) {
  .services__second-list-item {
    padding: 60px 15px;
    position: relative;
  }

  .services__second-list-item h3 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .services__second-list-item-wrapper {
    box-sizing: border-box;
    width: 100%;
  }

  .services__sublist {
    margin-top: 0;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .services__sublist-item {
    width: 212px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .services__sublist-button {
    width: 100%;
    margin: 0;
  }

  .services__image-wrapper {
    width: 87px;
    height: 113px;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: -1;
  }

  .services__second-list-item img {
    width: auto;
    height: 173px;
    bottom: 50px;
    right: 135px;
  }

  .services__image-wrapper--car img {
    width: auto;
    height: 142px;
    bottom: 15px;
    left: -60px;
  }

  .services__image-wrapper--lock img {
    width: auto;
    height: 98px;
    right: 27px;
    top: 10px;
  }

  .services__image-wrapper--phone img {
    width: auto;
    height: 113px;
    right: 30px;
    top: 6px;
  }
}
