.slider,
.slider__list {
  @include reset;
  overflow-x: hidden;
  position: relative;
}

.slider {
  margin: 0 auto;
  width: 100%;
}

.slider__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.slider__list-item {
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  padding: 25px;
  position: relative;
  background: linear-gradient(180.33deg, rgba(32, 39, 179, 0) 32.89%, #2027b3 99.79%);
  z-index: -2;
  overflow: hidden;
}

.slider__list-item h2 {
  @include reset;
  word-wrap: break-word;
  max-width: 390px;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  margin-left: 18.4%;
  margin-top: 78px;
}

.slider__list-item p {
  @include reset;
  word-wrap: break-word;
  max-width: 390px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-left: 18.5%;
  margin-top: 7px;
}

.slider__list-item-link {
  margin-top: 36px;
  margin-left: 18.5%;
  color: $lightBlueColor;

  &:hover {
    background-color: darken($blueColor, 25);
    opacity: 1;
    color: $lightBlueColor;
  }

  &:active {
    opacity: 0.2;
  }
}

.slider__list-item img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.slider__list-item--initial {
  display: flex;
  flex-direction: row;
  background-color: $blueColor;
  color: $lightBlueColor;
}

.slider__list-item--initial .slider__list-item-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $darkColor;

  &:hover {
    background-color: darken($blueColor, 25);
    opacity: 1;
    color: $lightBlueColor;
  }

  &:active {
    opacity: 0.2;
  }
}

.slider__list-item--initial::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 269px;
  left: 150px;
  bottom: 0;
  background: linear-gradient(186.21deg, rgba(56, 65, 255, 0) 66.3%, #3841ff 97.14%);
  z-index: -3;
}

.slider__list-item--initial::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 270px;
  height: 269px;
  right: 298px;
  bottom: 0;
  background: linear-gradient(183.46deg, rgba(56, 65, 255, 0) 27.26%, #3841ff 97.14%);
  z-index: -3;
}

.slider__initial-wrapper {
  width: 300px;
  margin-top: 79px;
  margin-left: 18.5%;
  margin-right: 10%;
}

.slider__initial-wrapper h2,
.slider__initial-wrapper p,
.slider__initial-wrapper .slider__list-item-link {
  margin-top: 0;
  margin-left: 0;
}

.slider__initial-wrapper h2 {
  margin-bottom: 8px;
}

.slider__initial-wrapper p {
  margin-bottom: 32px;
}

.slider__cards-wrapper {
  box-sizing: border-box;
  width: 400px;
  height: 240px;
  position: absolute;
}

.slider__cards-wrapper img {
  position: absolute;
  width: 335px;
  height: 228px;
}

.slider__cards-wrapper--black img {
  left: 0;
  top: 95px;
  z-index: -1;
  margin-left: -2px;
}

.slider__cards-wrapper--white img {
  left: 108px;
  top: 37px;
  z-index: -2;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  bottom: 33px;
  left: 46%;
}

.slider__pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 2px 4px;
  border-radius: 4px;
  background-color: $blueColor;

  &:hover {
    cursor: pointer;
  }
}

.slider__pagination .swiper-pagination-bullet-active {
  background-color: white;
}

@media (max-width: 1150px) {
  .slider__cards-wrapper--black img {
    left: 0;
    top: 95px;
    z-index: -1;
    margin-left: -2px;
  }

  .slider__cards-wrapper--white img {
    left: 108px;
    top: 37px;
    z-index: -2;
  }
}

@media (max-width: $tabletResolution) {
  .slider__list-item h2,
  .slider__list-item p,
  .slider__list-item-link {
    @include reset;
  }

  .slider__list-item {
    padding: 0 86px;
    padding-top: 65px;
    padding-bottom: 57px;
    min-height: 300px;
  }

  .slider__list-item h2 {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 7px;
  }

  .slider__list-item p {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  .slider__list-item img {
    width: 100%;
    height: 300px;
    left: 0;
  }

  .slider__list-item--initial::before {
    display: none;
  }

  .slider__list-item--initial::after {
    width: 179px;
    height: 199px;
  }

  .slider__list-item--initial .slider__list-item-link {
    font-size: 16px;
    line-height: 19px;
  }

  .slider__initial-wrapper {
    width: 300px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 10%;
  }

  .slider__cards-wrapper {
    height: 170px;
  }

  .slider__cards-wrapper img {
    width: 262px;
    height: 178px;
  }

  .slider__cards-wrapper--black img {
    left: 0;
    top: 22px;
    margin-left: -22px;
    z-index: -1;
  }

  .slider__cards-wrapper--white img {
    left: 62px;
    top: 0;
    margin-top: -22px;
    z-index: -2;
  }

  .slider__pagination {
    bottom: 8.5px;
    left: 42.75%;
  }
}

@media (max-width: $mobileResolution) {
  .slider__list-item {
    padding: 15px;
    padding-top: 42px;
    padding-bottom: 10px;
    min-height: 226px;
    left: 0;
  }

  .slider__list-item h2 {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .slider__list-item p {
    width: 140px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 27px;
  }

  .slider__list-item img {
    width: auto;
    height: 226px;
  }

  .slider__initial-wrapper {
    width: 200px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .slider__initial-wrapper h2 {
    margin-bottom: 12px;
  }

  .slider__initial-wrapper p {
    width: 200px;
    margin-bottom: 27px;
  }

  .slider__initial-wrapper .slider__list-item-link {
    font-size: 14px;
    line-height: 16px;
  }

  .slider__initial-wrapper .button {
    font-size: 14px;
    line-height: 16px;
  }

  .slider__cards-wrapper {
    width: 50px;
    height: 150px;
  }

  .slider__cards-wrapper img {
    width: auto;
    height: 166px;
  }

  .slider__cards-wrapper--black img {
    top: -8px;
    left: 27px;
  }

  .slider__cards-wrapper--white img {
    top: -25px;
    left: 150px;
  }

  .slider__pagination {
    bottom: 3.5px;
    left: 37%;
  }

  .slider__pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 3px;
  }
}

@media (max-width: 600px) {
  .slider__list-item img {
    left: -35%;
  }

  .slider__cards-wrapper {
    width: 50px;
    height: 150px;
  }

  .slider__cards-wrapper img {
    width: auto;
    height: 166px;
  }

  .slider__cards-wrapper--black img {
    top: -8px;
    left: 27px;
  }

  .slider__cards-wrapper--white img {
    top: -25px;
    left: 150px;
  }
}

@media (max-width: 400px) {
  .slider__list-item img {
    left: -55%;
  }

  .slider__cards-wrapper {
    width: 50px;
    height: 150px;
  }

  .slider__cards-wrapper img {
    width: auto;
    height: 166px;
  }

  .slider__cards-wrapper--black img {
    top: -8px;
    left: 27px;
  }

  .slider__cards-wrapper--white img {
    top: -25px;
    left: 150px;
  }
}

@media (max-width: 320px) {
  .slider__list-item img {
    width: auto;
    height: 226px;
    left: -92.3%;
  }

  .slider__cards-wrapper {
    width: 50px;
    height: 150px;
  }

  .slider__cards-wrapper img {
    width: auto;
    height: 166px;
  }

  .slider__cards-wrapper--black img {
    top: -8px;
    left: 27px;
  }

  .slider__cards-wrapper--white img {
    top: -25px;
    left: 150px;
  }
}
